@import 'helpers';

.container {
  width: 1140px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 16px;
  color: #737373;
}

p {
  margin-bottom: 20px;
}

.content {
  overflow: hidden;
}

body {
  background: #f5f5f5;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 48px;
  text-transform: uppercase;
  color: #000;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 50px;
}

.styled-list {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    font-size: 14px;
    color: #000000;
    padding-left: 25px;
    background: url("images/list-icon.png") no-repeat 0 5px;
    margin-bottom: 20px;
  }
}

.title-group-medium {
  @extend %title-group;

  div {
    h2 {
      text-transform: initial;
    }
  }
}

// update from prod
.grid {display: grid; grid-gap: 50px; grid-template-columns: 1fr 1fr 1fr 1fr; margin: 50px 0;}
.grid a {display: block; text-align: center;}
.grid a img {max-width: 100%; height: auto; }
.tmb a img {width: 80px; height: auto;}
//=============================================================================================
