.front-p-why {
  width: 100%;
  height: 120px;
  background: #feca16;
  margin-top: -35px;
}

.front-p-why * {
  color: #000;
}

.fp-why-item {
  float: left;
  padding-left: 70px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 800;
  padding-top: 38px;
  padding-bottom: 10px;
}

.w-it1 {
  padding-left: 0;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  padding-top: 26px;
}

.w-it1 span {
  font-size: 44px;
  line-height: 44px;
}

.w-it2 {
  margin-left: 60px;
  background: url(images/ic-wallet.png) no-repeat 0 38px;
}

.w-it3 {
  margin-left: 40px;
  background: url(images/ic-weer.png) no-repeat 0 34px;
}

.w-it4 {
  margin-left: 40px;
  background: url(images/ic-hand.png) no-repeat 0 34px;
}

.w-it5 {
  margin-left: 40px;
  background: url(images/ic-car.png) no-repeat 0 38px;
}

.front-p-cat {
  width: 100%;
  padding: 50px 0 70px 0;
  background: #f5f5f5;
}

.fp-cat-50 {
  width: 555px;
  height: 310px;
  float: left;
  background: #fff;
  margin-bottom: 30px;
  padding: 45px 0 40px 30px;
  position: relative;
  overflow: hidden;
}

.fp-cat-50:first-child {
  margin-right: 30px;
}

.fp-cat-100 {
  width: 100%;
  height: 310px;
  background: #fff;
  margin-bottom: 50px;
  padding: 45px 0 40px 30px;
  position: relative;
  overflow: hidden;
}

.fp-cat-50 .woocommerce ul.products li, .fp-cat-100 .woocommerce ul.products li {
  margin: 0 !important;
  position: static !important;
}

.fp-cat-50.fpc1 .woocommerce ul.products li.product img {
  width: auto !important;
  margin: 0 !important;
  position: absolute;
  right: 0;
  top: 88px;
}

.fp-cat-50.fpc2 .woocommerce ul.products li.product img {
  width: auto !important;
  margin: 0 !important;
  position: absolute;
  right: 0;
  top: 88px;
}

.fp-cat-100 .woocommerce ul.products li.product img {
  width: auto !important;
  margin: 0 !important;
  position: absolute;
  right: 0;
  top: 8px;
}

.fp-cat-50 .product-category h3, .fp-cat-100 .product-category h3 {
  font-weight: 700;
  font-size: 30px !important;
  text-transform: uppercase;
  color: #264c8a;
  z-index: 2;
  margin-bottom: -15px !important;
  padding-top: 0 !important;
}

.cat-begin-price {
  font-size: 24px;
  font-weight: 700;
}

.cat-desc-text {
  font-size: 11px;
  color: #737373;
  text-transform: uppercase;
  font-weight: 300;
}

.fp-cat-50.fpc1 .cat-desc-text {
  margin-top: 40px;
  width: 235px;
}

.fp-cat-50.fpc2 .cat-desc-text {
  margin-top: 40px;
  width: 200px;
}

.fp-cat-100 .cat-desc-text {
  margin-top: 20px;
  width: 550px;
}

a.cat-more-btn {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  border: 1px solid #e5e5e5;
  width: 185px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  transition: all 0.2s;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

a.cat-more-btn:hover {
  background: #feca16;
  border-color: #feca16;
}

.nw-item {
  width: 360px;
  height: 240px;
  float: left;
  margin-left: 30px;
  position: relative;
  z-index: 9;
  overflow: hidden;
  padding-top: 85px;
}

.nw-item:first-child {
  margin-left: 0;
}

.nw-item:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .4);
}

.nwi-img img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all .8s;
}

.nw-item:hover img {
  transform: scale(1.1);
}

.nwi-title {
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  position: relative;
  padding: 0 35px;
}

.nwi-title:after {
  content: '';
  display: block;
  width: 45px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -22px;
  bottom: -20px;
}

a.nwi-more {
  position: relative;
  text-align: center;
  display: block;
  margin-top: 35px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

a.nwi-more:hover {
  text-decoration: underline;
}

#news-slider {
  margin-bottom: 50px;
}

.fp-block-title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.my-prod-cat {
  padding-top: 30px;
}

#fp-bestsell ul.products li, .my-prod-cat ul.products li {
  width: 264px !important;
  margin-right: 28px !important;
  margin-bottom: 30px !important;
  height: 395px !important;
  background: #fff;
  padding: 215px 40px 30px 40px !important;
  position: relative !important;
  overflow: hidden;
}

#fp-bestsell ul.products li:nth-child(4n), .my-prod-cat ul.products li:nth-child(4n) {
  margin-right: 0 !important;
}

#fp-bestsell ul.products li:hover, .my-prod-cat ul.products li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

#fp-bestsell ul.products img, .my-prod-cat ul.products img {
  width: 237px !important;
  position: absolute;
  top: 40px;
  left: 15px;
}

.product_category_title {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #264c8a;
  font-weight: 300;
}

#fp-bestsell ul.products h3, .my-prod-cat ul.products h3 {
  text-align: center;
  font-size: 24px !important;
  font-weight: 700;
  color: #264c8a;
  text-transform: uppercase;
  padding: 0 !important;
  line-height: 26px;
  margin-bottom: 12px !important;
}

#fp-bestsell ul.products h3 span, .my-prod-cat ul.products h3 span {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 16px;
}

#fp-bestsell ul.products .price, #fp-bestsell ul.products .amount, .my-prod-cat ul.products .price, .my-prod-cat ul.products .amount {
  text-align: center;
  font-size: 24px !important;
  font-weight: 700 !important;
  color: #000 !important;
  padding: 0;
  line-height: 26px;
}

.cat-more-btn.single {
  font-size: 12px !important;
  text-transform: uppercase !important;
  color: #000 !important;
  font-weight: 600 !important;
  border: 1px solid #e5e5e5 !important;
  height: 42px !important;
  line-height: 42px !important;
  text-align: center;
  transition: all 0.2s;
  border-radius: 0 !important;
  background: #fff !important;
  padding: 0 !important;
  left: 40px;
  bottom: 30px;
}

ul.products li:hover .cat-more-btn.single {
  background: #feca16 !important;
  border-color: #feca16 !important;
}

.nw-item.big {
  margin-left: 0;
  width: 100%;
  padding-top: 65px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.nw-item.big .nwi-title {
  font-size: 30px;
  line-height: 35px;
  width: 530px;
  margin: 0 auto;
}

.fp-text {
  color: #737373;
  margin-top: 60px;
  text-align: justify;
}

#close-left {
  width: 18px;
  height: 20px;
  background: url(images/close2.png) no-repeat 0 0;
  float: right;
  cursor: pointer;
  margin-right: 42px;
}

#msl-logo {
  width: 167px;
  height: 58px;
  float: left;
  background: url(images/logo-w.jpg) no-repeat 0 0;
}

#msl-logo a {
  display: block;
  width: 100%;
  height: 100%;
}

#slideleft-nav a {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

#slideleft-nav a:hover, #slideleft-nav .current-menu-item a {
  color: #feca16;
  border-bottom: 1px solid #feca16;
}

#slideleft-nav li {
  margin-bottom: 28px;
}

ul#slideleft-nav {
  list-style: none;
}

.container.cat-container {
  padding: 30px 0 170px 0;
}

.cat-container .nw-item.cat {
  margin: 0 30px 30px 0;
}

.nw-item.cat:nth-child(3n) {
  margin-right: 0;
}

.single-product .woocommerce-message {
  display: none;
}

.title h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 70px 0 45px 0;
}

.pcont-left {
  width: 530px;
  float: left;
  margin-right: 80px;
}

.pcont-right {
  width: 530px;
  float: left;
  margin-bottom: 330px;
}

.pcl-item {
  padding-left: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  min-height: 50px;
  padding-top: 6px;
}

.pcli2 b {
  font-size: 24px;
  font-weight: 700;
}

.pcli1 {
  background: url(images/cont1.png) no-repeat 0 0;
}

.pcli2 {
  background: url(images/cont2.png) no-repeat 0 0;
}

.pcli3 {
  background: url(images/cont3.png) no-repeat 0 0;
}

.pcr-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #264c8a;
  margin-bottom: 33px;
}

span.red {
  color: #ff0000;
}

.pcrf-item .left {
  float: left;
  padding-top: 7px;
}

.pcrf-item .right {
  float: right;
}

.pcrf-item {
  width: 100%;
  clear: both;
  margin-bottom: 15px;
}

.pcrf-item input, .pcrf-item textarea {
  padding: 7px 10px;
  width: 410px;
}

.pcrf-item textarea {
  resize: none;
  height: 84px;
}

.wpcf7-not-valid-tip, .wpcf7-response-output {
  display: none !important;
}

.wpcf7-not-valid {
  border: 1px solid #ff0000;
}

input#pc-submit {
  float: left;
  background: #feca16;
  border: none;
  width: 170px;
  height: 50px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.pcrf-capt {
  float: right;
  margin-top: -23px;
}

ul.payment_methods.methods {
  display: none;
}

.woocommerce form input,
.woocommerce form select {
  padding: 7px 10px;
  border: 1px solid rgb(169, 169, 169);
  border-width: 1px;
}

.woocommerce-checkout #payment {
  background: transparent !important;
}

.woocommerce-page #payment #place_order {
  border-radius: 0;
  background: #feca16;
  color: #000;
  text-transform: uppercase;
  padding: 18px;
  outline: none;
}

.f1-item a {
  font-size: 14px;
}

article ul,
article ol,
.page ul,
.page ol {
  margin-left: 20px;
  margin-bottom: 50px;
}

.cat-text {
  padding: 60px 0 70px 0;
  color: #737373;
  text-align: justify;
}

.cat-text h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.cat-text ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

.woocommerce-breadcrumb, .woocommerce-breadcrumb a {
  font-size: 16px !important;
}

h1.product_title.entry-title {
  font-size: 50px;
  font-weight: 700;
  color: #264c8a;
  text-transform: uppercase;
  margin-bottom: 40px;
}

h1.product_title.entry-title span {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 300;
}

.summary.entry-summary p.price, .summary.entry-summary p.price span {
  font-size: 40px;
  font-weight: 700;
  color: #000;
}

.woocommerce div.product form.cart input.input-text.qty.text {
  width: 70px;
  height: 50px;
  padding: 12px;
}

.woocommerce div.product form.cart .button {
  width: 150px;
  height: 50px;
  border-radius: 0;
  background-color: #feca16;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  margin-left: 10px;
}

.single-product_category_title {
  height: auto;
  font-size: 50px;
  text-transform: uppercase;
  color: #264c8a;
  margin-top: 40px;
  margin-bottom: 8px;
  line-height: 1em;
}

nav.woocommerce-breadcrumb {
  margin-bottom: 30px !important;
}

.woocommerce .woocommerce-breadcrumb a:hover, .single-product_category_link:hover {
  text-decoration: underline;
}

.single-product_category_link {
  color: #000;
}

.single-prod-nav {
  width: 80px;
  height: 31px;
  float: right;
}

.single-prod-nav a {
  display: block;
  width: 30px;
  height: 31px;
  background: url(images/arr.png) no-repeat;
  margin-left: 10px;
  float: left;
}

.single-prod-nav a[rel=next] {
  background-position: 0 0;
}

.single-prod-nav a[rel=next]:hover {
  background-position: 0 -31px;
}

.single-prod-nav a[rel=prev] {
  background-position: -30px 0;
}

.single-prod-nav a[rel=prev]:hover {
  background-position: -30px -31px;
}

.single_variation .price span {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
  display: inline-block;
}

.variation_form_section {
  margin-top: 30px;
}

.variations-table td.label {
  vertical-align: top;
  font-weight: 700;
  display: inline-block;
  float: left;
  width: 100%;
  line-height: 30px;
  margin-bottom: 8px;
}

.variations-table td.label label {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.variations-table tr {
  padding-bottom: 18px;
  display: block;
}

article.post {
  padding: 70px 20px;
}

.single-product-atributes {
  width: 48%;
}

.single-product-atr-item {
  width: 50%;
  float: left;
  padding-right: 45px;
  min-height: 100px;
  margin-bottom: 20px;
}

.single-product-atr-title, .single-product-exr-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
}

.single-product-atr-text, .single-product-atr-text p, .entry-summary > div p {
  font-size: 16px;
  line-height: 18px;
}

.srp-bestsell-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.my-woo-search-wrap {
  display: none;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
}

.yith-ajaxsearchform-container {
  width: 500px;
  height: 265px;
  background: #fff;
  margin: 0 auto;
  margin-top: 140px;
  padding: 40px;
  position: relative;
}

#my-woo-search-close {
  position: absolute;
  top: 0;
  right: -48px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background: url(images/close3.png) no-repeat 0 0;
}

.visible {
  display: block !important;
}

.woocommerce-variation-description p {
  text-transform: uppercase;
  font-weight: 700;
}

a.swatch-anchor {
  position: relative;
  width: 50px !important;
  height: 50px !important;
}

.swatch-anchor-big-img {
  position: absolute;
  top: -260px;
  left: 0;
  margin-left: -85px;
  display: block;
  max-width: none !important;
  width: 210px;
  height: 245px !important;
  border: 10px solid #feca16;
  border-bottom: 35px solid #feca16;
}

.my-line {
  width: 100%;
  height: 1px;
  margin: 30px 0;
  background: #CCC;
}

.yith_magnifier_gallery li {
  padding: 0 5px !important;
}

.yith_magnifier_zoom_magnifier, .woocommerce div.product div.images img, .yith_magnifier_zoom_wrap {
  background-color: #fff !important;
}

.single-product.woocommerce .thumbnails #slider-prev, .single-product.woocommerce .thumbnails #slider-next {
  top: 58px !important;
}

.tkan-title {
  color: #000;
  position: absolute;
  top: -43px;
  left: -75px;
  font-size: 14px;
}

.my-tkan-text a {
  font-size: 12px;
  text-transform: uppercase;
  padding: 12px 20px;
  background: #fff;
  display: inline-block;
  color: #000;
  font-weight: 600;
  border: 1px solid #e6e6e6;
  transition: all 0.2s;
}

.my-tkan-text a:hover {
  background: #FECA16;
  border: 1px solid #FECA16;
}

.tkp-top {
  margin-top: 78px;
  position: relative;
}

.tkp-t-title {
  position: absolute;
  top: 70px;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.tkp-t-text {
  position: absolute;
  width: 100%;
  top: 125px;
  left: 0;
  text-align: center;
  color: #fff;
}

.tk-cat-t {
  text-transform: uppercase;
  font-weight: 700;
  margin: 25px 0;
}

.tkp-item {
  width: 210px;
  height: 235px;
  background: #fff;
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
  padding: 13px;
}

.tkp-item:nth-child(5n) {
  margin-right: 0;
}

.tkp-item-name {
  font-size: 16px;
}

img.tkp-item-img {
  max-width: 100%;
}

.summary.entry-summary p.price {
  margin-bottom: 40px;
  font-size: 40px !important;
  font-weight: 700 !important;
  color: #000 !important;
}

.tkan-single-item {
  width: 50px;
  height: 50px;
  margin: 0 15px 15px 0;
  float: left;
  position: relative;
  cursor: pointer;
}

.tkan-single-img {
  width: 100%;
  height: 100%;
}

.tkan-single-pop {
  position: absolute;
  top: -250px;
  left: 0;
  margin-left: -80px;
  display: block;
  max-width: none !important;
  width: 210px;
  height: 235px !important;
  padding: 13px;
  padding-bottom: 0;
  background: #feca16;
  visibility: hidden;
}

.tkan-single-item:hover .tkan-single-pop {
  visibility: visible;
}

.tkan-single-imgb {
  width: 184px;
  height: 184px !important;
}

.tk-box {
  margin-bottom: 60px;
  overflow: auto;
}

#first-window {
  min-height: 100vh;
  padding-top: 140px;
  margin-top: -140px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 120px;
  margin-bottom: -120px;
}

@media only screen and (max-height: 755px) {
  #first-window {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
