@import 'helpers';

.payments-section {
  p {
    color: #000000;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
  }

  .title {
    @extend %title;
  }
}

.page {
  .styled-list {
    margin: 0;
  }
}

.assembly-section {
  position: relative;

  @media (min-width: 1200px) {
    &.wpb_row {
      margin-bottom: 0;
    }
  }

  p {
    color: #000000;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
  }

  .title {
    @extend %title;
  }

  .bg-image {
    @media (min-width: 1200px) {
      position: absolute;
      right: -260px;
      bottom: -104px;
    }
  }
}

.delivery-section {
  h2 {
    @extend %sub-title;
  }

  .title-group {
    @extend %title-group;
  }

  .styled-list {
    li {
      font-style: normal;
      font-weight: normal;
      line-height: 23px;
      font-size: 14px;
    }

    span {
      font-style: normal;
      font-weight: bold;
      line-height: 23px;
      font-size: 14px;
      color: #000000;
    }

    table {
      th,
      td {
        font-style: normal;
        font-weight: normal;
        line-height: 23px;
        font-size: 14px;
        color: #000000;

        &:first-child {
          padding-right: 16px;
          max-width: 355px;
        }
      }

      b {
        font-weight: 700;
        color: #000000;
      }
    }
  }

  .note-group {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #737373;

    span {
      font-style: normal;
      line-height: normal;
      font-weight: bold;
      font-size: 14px;
      color: #737373;
    }
  }

  .text-default {
    @extend %text-default;
  }

  .text-secondary {
    @extend %text-secondary;
  }

  strong {
    @extend %text-strong;
  }
}

.warranty-section {
  .title-group {
    @extend %title-group;
  }

  .text-secondary {
    @extend %text-secondary;
  }

  .text-default {
    @extend %text-default;

    li {
      @extend %text-default;
    }
  }

  strong {
    @extend %text-strong;
  }
}

.contacts-col {
  p {
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 22px;
    color: #7B7B7B
  }

  strong {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    color: #7B7B7B
  }
}
